$success_bg:#f0f9eb;
$success_border:#e1f3d8;
$success_color:#67c23a;

$primary_bg:#ecf5ff;
$primary_border:#d9ecff;
$primary_color:#409eff;

$warning_bg:#fdf6ec;
$warning_border:#faecd8;
$warning_color:#e6a23c;

$danger_bg:#fef0f0;
$danger_border:#fde2e2;
$danger_color:#f56c6c;

